html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

body {
  background-color: #fff;
  padding-top: 2.5rem;
  max-width: 36em;
  margin: 0 auto;
}

h2 {
  border-bottom: solid 1px #000;
}

.cemter-block {
  max-width: 36em;
}

div {
  display: block;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bar {
  border-bottom: 2px solid #000;
  width: 40%;
  margin-bottom: 30px;
}

.a {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  .p-l {
    padding-left: .5rem;
  }

  .p-r {
    padding-right: .5rem;
  }



}
